In [1]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

In [2]:
import pandas as pd 
import numpy as np

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_neighbourhoods_in_Toronto"

In [4]:
data  = requests.get(url).text

In [5]:
soup = BeautifulSoup(data)

In [6]:
tables = soup.find_all('table')

In [7]:
len(tables)

16

In [8]:
for index,table in enumerate(tables):
    if ("CDN number" in str(table)):
        table_index = index
print(table_index)

10

In [9]:
df = pd.read_html(str(tables[10]))[0]
df.head()

,CDN number,City-designated neighbourhood,Former city/borough,Neighbourhoods covered,Map,Unnamed: 5
0,129,Agincourt North,Scarborough,Agincourt and Brimwood,NaN,NaN
1,128,Agincourt South-Malvern West,Scarborough,Agincourt and Malvern,NaN,NaN
2,20,Alderwood,Etobicoke,Alderwood,NaN,NaN
3,95,Annex,Old City of Toronto,The Annex and Seaton Village,NaN,NaN
4,42,Banbury-Don Mills,North York,Don Mills,NaN,NaN

In [10]:
df.drop(['Map', 'Unnamed: 5', 'Neighbourhoods covered'], axis= 1, inplace= True)
df.head()

   CDN number City-designated neighbourhood  Former city/borough
0         129               Agincourt North          Scarborough
1         128  Agincourt South-Malvern West          Scarborough
2          20                     Alderwood            Etobicoke
3          95                         Annex  Old City of Toronto
4          42             Banbury-Don Mills           North York

In [11]:
df.columns = ['CDN numb', 'Neighborhood', 'Borough']
df.head()

   CDN numb                  Neighborhood              Borough
0       129               Agincourt North          Scarborough
1       128  Agincourt South-Malvern West          Scarborough
2        20                     Alderwood            Etobicoke
3        95                         Annex  Old City of Toronto
4        42             Banbury-Don Mills           North York

In [12]:
df.shape

(140, 3)